/* .mediaViewInfo {
  --web-view-name: study op2 – 1;
  --web-view-id: study_op2___1;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: study_op2___1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#study_op2___1 {
  position: absolute;
  width: 1331px;
  height: 727px;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  --web-view-name: study op2 – 1;
  --web-view-id: study_op2___1;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
#WhatsApp_Image_2020_07_18_at_1 {
  opacity: 0.07;
  position: absolute;
  width: 1180.19px;
  height: 1153.138px;
  left: 264.405px;
  top: -241.569px;
  overflow: visible;
}
.Rectangle_733 {
  position: absolute;
  overflow: visible;
  width: 70px;
  height: 68px;
  left: 0px;
  top: 0px;
}
#Path_234 {
  opacity: 0.19;
}
.Path_234 {
  overflow: visible;
  position: absolute;
  width: 1px;
  height: 183.671px;
  left: 226.333px;
  top: -161.085px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Create_a_Study {
  position: absolute;
  left: 499px;
  top: 73px;
  overflow: visible;
  width: 335px;
  white-space: nowrap;
  text-align: left;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  color: rgba(5, 63, 104, 1);
}
.Ellipse_31 {
  position: absolute;
  overflow: visible;
  width: 44px;
  height: 44px;
  left: 427px;
  top: 151px;
}
.Ellipse_31_ {
  position: absolute;
  overflow: visible;
  width: 44px;
  height: 44px;
  left: 686px;
  top: 151px;
}
.Ellipse_31_ba {
  position: absolute;
  overflow: visible;
  width: 44px;
  height: 44px;
  left: 945px;
  top: 151px;
}
.Line_6 {
  overflow: visible;
  position: absolute;
  width: 182px;
  height: 3px;
  left: 486.5px;
  top: 173.5px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.Line_7 {
  overflow: visible;
  position: absolute;
  width: 180px;
  height: 3px;
  left: 747.5px;
  top: 173.5px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#ID1 {
  position: absolute;
  left: 441px;
  top: 152px;
  overflow: visible;
  width: 14px;
  white-space: nowrap;
  text-align: left;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  color: rgba(255, 255, 255, 1);
}
#ID2 {
  position: absolute;
  left: 700px;
  top: 152px;
  overflow: visible;
  width: 18px;
  white-space: nowrap;
  text-align: left;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  color: rgba(255, 255, 255, 1);
}
#ID3 {
  position: absolute;
  left: 960px;
  top: 153px;
  overflow: visible;
  width: 17px;
  white-space: nowrap;
  text-align: left;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  color: rgba(255, 255, 255, 1);
}
.Rectangle_726 {
  position: absolute;
  overflow: visible;
  width: 327px;
  height: 48px;
  left: 544px;
  top: 228px;
}
#Protocol_ID {
  position: absolute;
  left: 544px;
  top: 201px;
  overflow: visible;
  width: 102px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  color: rgba(5, 63, 104, 1);
}
.Rectangle_727 {
  position: absolute;
  overflow: visible;
  width: 327px;
  height: 48px;
  left: 544px;
  top: 311px;
}
#Indication {
  position: absolute;
  left: 544px;
  top: 284px;
  overflow: visible;
  width: 91px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  color: rgba(5, 63, 104, 1);
}
.Rectangle_729 {
  position: absolute;
  overflow: visible;
  width: 160px;
  height: 48px;
  left: 544px;
  top: 571px;
}
#Phase {
  position: absolute;
  left: 544px;
  top: 544px;
  overflow: visible;
  width: 57px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  color: rgba(5, 63, 104, 1);
}
#Input {
  position: absolute;
  width: 159px;
  height: 75px;
  left: 712px;
  top: 544px;
  overflow: visible;
}
.Rectangle_730 {
  position: absolute;
  overflow: visible;
  width: 159px;
  height: 48px;
  left: 0px;
  top: 27px;
}
#Study_Type {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
  width: 102px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  color: rgba(5, 63, 104, 1);
}
.Rectangle_731 {
  position: absolute;
  overflow: visible;
  width: 327px;
  height: 48px;
  left: 544px;
  top: 394px;
}
#Theropeutic_Area {
  position: absolute;
  left: 544px;
  top: 367px;
  overflow: visible;
  width: 157px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  color: rgba(5, 63, 104, 1);
}
#Symbol_156___1 {
  position: absolute;
  width: 9.4px;
  height: 6.1px;
  left: 845px;
  top: 510px;
  overflow: visible;
}
.Path_36 {
  overflow: visible;
  position: absolute;
  width: 9.4px;
  height: 6.1px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.Rectangle_732 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.529));
  position: absolute;
  overflow: visible;
  width: 177px;
  height: 56px;
  left: 544px;
  top: 649px;
}
#Cancel {
  position: absolute;
  left: 591px;
  top: 657px;
  overflow: visible;
  width: 67px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: rgba(223, 228, 231, 1);
}
#Repeat_Grid_5 {
  position: absolute;
  width: 31px;
  height: 23px;
  left: 15.5px;
  top: 24px;
  overflow: hidden;
}
#Repeat_Grid_5_0 {
  position: absolute;
  width: 38px;
  height: 1px;
  left: 0px;
  top: 1.5px;
  overflow: visible;
}
.Line_13 {
  overflow: visible;
  position: absolute;
  width: 38px;
  height: 4px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Repeat_Grid_5_1 {
  position: absolute;
  width: 38px;
  height: 1px;
  left: 0px;
  top: 10.5px;
  overflow: visible;
}
.Line_13_bq {
  overflow: visible;
  position: absolute;
  width: 38px;
  height: 4px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Repeat_Grid_5_2 {
  position: absolute;
  width: 38px;
  height: 1px;
  left: 0px;
  top: 19.5px;
  overflow: visible;
}
.Line_13_bs {
  overflow: visible;
  position: absolute;
  width: 38px;
  height: 4px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Home {
  position: absolute;
  left: 81px;
  top: 18px;
  overflow: visible;
  width: 84px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: rgba(5, 63, 104, 1);
}
#Forward_arrow_small {
  position: absolute;
  width: 13.5px;
  height: 18.5px;
  left: 175px;
  top: 28px;
  overflow: visible;
}
.Path_36_bv {
  overflow: visible;
  position: absolute;
  width: 18.5px;
  height: 13.5px;
  transform: translate(0px, 0px) matrix(1, 0, 0, 1, -2.5, 2.5) rotate(-90deg);
  transform-origin: center;
  left: 0px;
  top: 0px;
}
#Forward_arrow_small_bw {
  transform: matrix(1, 0, 0, 1, 832, 328) rotate(90deg);
  transform-origin: center;
  position: absolute;
  width: 13.5px;
  height: 18.5px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Path_36_bx {
  overflow: visible;
  position: absolute;
  width: 18.5px;
  height: 13.5px;
  transform: translate(18.5px, 0px) matrix(1, 0, 0, 1, -2.5, 2.5) rotate(-90deg);
  transform-origin: center;
  left: -18px;
  top: 0px;
}
.Rectangle_734 {
  filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.388));
  position: absolute;
  overflow: visible;
  width: 290px;
  height: 677px;
  left: 0px;
  top: 68px;
}
.Rectangle_735 {
  position: absolute;
  overflow: visible;
  width: 1105px;
  height: 69px;
  left: 226px;
  top: -1px;
}
#Protocol_Content {
  position: absolute;
  left: 59px;
  top: 204px;
  overflow: visible;
  width: 180px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: rgba(255, 255, 255, 1);
}
#Objectives {
  position: absolute;
  left: 59px;
  top: 266px;
  overflow: visible;
  width: 113px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: rgba(255, 255, 255, 1);
}
#Endpoints {
  position: absolute;
  left: 59px;
  top: 328px;
  overflow: visible;
  width: 108px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: rgba(255, 255, 255, 1);
}
#Inclusion__Excusion_Criteria {
  position: absolute;
  left: 59px;
  top: 390px;
  overflow: visible;
  width: 182px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: rgba(255, 255, 255, 1);
}
#Assessment {
  position: absolute;
  left: 59px;
  top: 480px;
  overflow: visible;
  width: 132px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: rgba(255, 255, 255, 1);
}
.Line_14 {
  overflow: visible;
  position: absolute;
  width: 13.352px;
  height: 12.475px;
  left: 245.5px;
  top: 88.5px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.Line_15 {
  overflow: visible;
  position: absolute;
  width: 12.414px;
  height: 12.414px;
  left: 246.5px;
  top: 88.5px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#protocol {
  position: absolute;
  width: 36px;
  height: 36px;
  left: 10px;
  top: 195px;
  overflow: visible;
}
#obj {
  position: absolute;
  width: 30px;
  height: 31px;
  left: 13px;
  top: 258px;
  overflow: visible;
}
#Group_325 {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 14px;
  top: 399px;
  overflow: visible;
}
.Ellipse_42 {
  position: absolute;
  overflow: visible;
  width: 32px;
  height: 32px;
  left: 0px;
  top: 0px;
}
.Line_16 {
  overflow: visible;
  position: absolute;
  width: 21.321px;
  height: 24.167px;
  left: 5.333px;
  top: 3.81px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.Path_237 {
  overflow: visible;
  position: absolute;
  width: 14.675px;
  height: 12.879px;
  left: 4.136px;
  top: 4.136px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.Path_238 {
  overflow: visible;
  position: absolute;
  width: 10.132px;
  height: 8.679px;
  left: 15.492px;
  top: 18.159px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.Path_239 {
  overflow: visible;
  position: absolute;
  width: 6.983px;
  height: 8.381px;
  transform: translate(-17px, -300px) matrix(1, 0, 0, 1, 33.508, 317.5239)
    rotate(-1deg);
  transform-origin: center;
  left: 0px;
  top: 0px;
}
.Rectangle_736 {
  position: absolute;
  overflow: visible;
  width: 327px;
  height: 48px;
  left: 544px;
  top: 477px;
}
#Compound {
  position: absolute;
  left: 544px;
  top: 450px;
  overflow: visible;
  width: 101px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  color: rgba(5, 63, 104, 1);
}
#Forward_arrow_small_ch {
  transform: matrix(1, 0, 0, 1, 831, 411) rotate(90deg);
  transform-origin: center;
  position: absolute;
  width: 13.5px;
  height: 18.5px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Path_36_ci {
  overflow: visible;
  position: absolute;
  width: 18.5px;
  height: 13.5px;
  transform: translate(18.5px, 0px) matrix(1, 0, 0, 1, -2.5, 2.5) rotate(-90deg);
  transform-origin: center;
  left: -18px;
  top: 0px;
}
.Path_240 {
  overflow: visible;
  position: absolute;
  width: 272px;
  height: 51px;
  left: 0px;
  top: 127px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Forward_arrow_small_ck {
  transform: matrix(1, 0, 0, 1, 676, 588) rotate(88deg);
  transform-origin: center;
  position: absolute;
  width: 13.5px;
  height: 18.5px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Path_36_cl {
  overflow: visible;
  position: absolute;
  width: 18.5px;
  height: 13.5px;
  transform: translate(18.489px, 0px) matrix(1, 0, 0, 1, -2.5, 2.5)
    rotate(-90deg);
  transform-origin: center;
  left: -18px;
  top: 0px;
}
#Forward_arrow_small_cm {
  transform: matrix(1, 0, 0, 1, 845, 588) rotate(86deg);
  transform-origin: center;
  position: absolute;
  width: 13.5px;
  height: 18.5px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Path_36_cn {
  overflow: visible;
  position: absolute;
  width: 18.5px;
  height: 13.5px;
  transform: translate(18.455px, 0px) matrix(1, 0, 0, 1, -2.5, 2.5)
    rotate(-90deg);
  transform-origin: center;
  left: -18px;
  top: 0px;
}
.Rectangle_737 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.529));
  position: absolute;
  overflow: visible;
  width: 167px;
  height: 56px;
  left: 722px;
  top: 649px;
}
#Continue {
  position: absolute;
  left: 753px;
  top: 657px;
  overflow: visible;
  width: 88px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: rgba(223, 228, 231, 1);
}
#Study_Content {
  position: absolute;
  left: 59px;
  top: 139px;
  overflow: visible;
  width: 153px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: rgba(133, 196, 239, 1);
}
#end {
  position: absolute;
  width: 29px;
  height: 29px;
  left: 14px;
  top: 321px;
  overflow: visible;
}
#assess {
  position: absolute;
  width: 36px;
  height: 36px;
  left: 14px;
  top: 470px;
  overflow: visible;
}
#Group_328 {
  position: absolute;
  width: 36px;
  height: 36px;
  left: 11px;
  top: 135px;
  overflow: visible;
}
.Rectangle_744 {
  position: absolute;
  overflow: visible;
  width: 35px;
  height: 35px;
  left: 0px;
  top: 0px;
}
#WhatsApp_Image_2020_07_18_at_1_cv {
  position: absolute;
  width: 32px;
  height: 36px;
  left: 4px;
  top: 0px;
  overflow: visible;
} */
