<header style="background-color: slategrey;">
    <h3>File Bash</h3>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link " href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/avater">Gallery</a>
        </li>
    </ul>
</header>
<h1>{{message}}</h1>
<hr>
<img src="/{{data.path}}" />