<div style="background-color: slategrey;">
    <header>
        <h3>File Bash</h3>
        <ul class="nav nav-pills" style="float: right">
            <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile/register">Gallery</a>
            </li>
        </ul>
    </header>
</div>
<div class="container col-md-6 mx-auto">
    <h1>Register</h1>
    <br>
    <form action="/profile/register" method="POST" enctype="multipart/form-data" class="form-group">
        <input type="text" name="first-name" id="first-name" class="form-control" placeholder="First name"><br>
        <input type="text" name="last-name" id="last-name" class="form-control" placeholder="Last name">
        <br>
        <div class="btn btn-primary btn-sm text-center form-control">
            <span>Choose file</span>
            <input type="file" name="avatar">
        </div>
        <hr>
        <input type="submit" value="Submit" class="btn btn-success mx-auto">

    </form>
</div>