<section class="container mt-5">
    <!--Register side-->
    <section class="register float-left "
        style="width: 50%; height: 85vh; border-right: solid;border-right-color: black;">

        <!--Register container-->
        <div class="container mt-3 bg-succuss rounded "
            style="width:80%; height: 80vh; border:solid;border-color: darkgrey; background-color: #f2f2f2;">
            <h1 class="text-center">Register</h1>
            <div class="form-group mt-4">
                <label for="name"><b>Name</b></label>
                <input class="form-control" type="text" name="name" id="name" required placeholder="Name">
            </div>
            <div class="form-group">
                <label for="email"><b>e-mail</b></label>
                <input class="form-control" type="email" name="email" id="email" required placeholder="abc@gmail.com">
            </div>
            <div class="form-group">
                <label for="password"><b>Password</b></label>
                <input class="form-control" type="password" name="password" id="password" required
                    placeholder="Password">
            </div>
            <div class="form-group">
                <label for="cnfpassword"><b>Confirm Password</b></label>
                <input class="form-control" type="password" name="cnfpassword" id="cnfpassword" required
                    placeholder="cnfpassword">
            </div>
            <div class="text-center pt-3">
                <input class="btn btn-success" type="button" value="Signup" style="width: 15vw;">
            </div>
        </div>
    </section>

    <!--Register side-->
    <section class="login float-right" style="width: 50%; height: 85vh;">

        <!--login container-->
        <div class="container mt-3 bg-succuss rounded"
            style="width:80%; height: 80vh; border:solid;border-color: darkgrey; background-color: #f2f2f2;">
            <h1 class="text-center">Login</h1>


            <div class="form-group mt-5">
                <label for="email"><b>e-mail</b></label>
                <input class="form-control" type="email" name="email" id="email" required placeholder="abc@gmail.com">
            </div>
            <div class="form-group ">
                <label for="password"><b>Password</b></label>
                <input class="form-control" type="password" name="password" id="password" required
                    placeholder="Password">
            </div>
            <div class="float-left">
                <a href="">I forgot my password!</a>
            </div>
            <div class="text-center mt-5 pt-5">
                <input class="btn btn-success" type="button" value="Login" style="width: 15vw;">
            </div>
        </div>
    </section>
</section>