<div class="container mt 2">
    <h3 class="pb-2">Enter values to delete</h3>
    <form action="/users/?_method=DELETE" method="POST">
        <div class="form-group">
            <label>Enter Username</label>
            <input class="form-control" type="text" name="username" id="username" required
                placeholder="Enter Username"><br>
        </div>
        <div class="text-center form-group">
            <input class="btn btn-danger form-control" type="submit" value="Insert">
        </div>
    </form>
</div>